/***** BASE STYLES *****/
body {
    font-family: 'Raleway', sans-serif;
    background:##100f0f;
}

/***** GRID *****/
.full-width {
    width: 1200px;
    margin: 0 auto;
}
.half-width {
    width: 600px;
    float: left;
}

/***** HEADER *****/
header {
    background:#100f0f;
    background-size: cover;
    height: 650px;
}
#header-image-container {
    height: 700px;
    background: url('../img/comp.png');
}

#header-image-container h1 {
    font-family: 'Bree Serif', serif;
    text-align: left;
    font-size: 72px;
    font-weight: normal;
    line-height: 25px;
    color: #f1f1f3;
    padding-left: 100px;
    padding-top: 100px;
}
#header-image-container h1 span {
    color: #a0ff00;
}
#header-image-container h2 {
    font-family: 'Raleway', sans-serif;
    text-align: left;
    font-weight: normal;
    font-size: 34px;
    line-height: 25px;
    color: #f1f1f3;
    padding-left: 100px;
}
#header-image-container h2 span {
    color: #a0ff00;
    font-weight: bold;
}

/***** PORTFOLIO *****/

#portfolio {
    height: 1200px;
    background: linear-gradient(to top left, #00beff 0%, #140262 100%);
    background-size: cover;
    padding-top: 70px;
}

#portfolio #fpc {
    padding: 70px 30px 50px 30px;
    text-align: right;
    clear: both;
}

#portfolio #jubilee {
    padding: 70px 30px 50px 30px;
    text-align: left;
    clear: both;
}

#portfolio #rogue {
    padding: 70px 30px 50px 30px;
    text-align: right;
    clear: both;
}

#portfolio img {
    height: 250px;
}

#portfolio h3 {
    font-family: 'Bree Serif', serif;
    text-align: center;
    font-weight: normal;
    font-size: 40px;
    line-height: 25px;
    color:#f1f1f3;
    text-transform: uppercase;
}

#portfolio h4 {
    font-family: 'Raleway', sans-serif;
    font-weight: bold;
    font-size: 24px;
    line-height: 25px;
    color:#f1f1f3;
}

#portfolio h4 span {
    font-style: italic;
    font-weight: normal;
}

#portfolio p {
    font-family: 'Raleway', sans-serif;
    font-size: 24px;
    line-height: 25px;
    color:#f1f1f3;
}

/***** ABOUT *****/

#about {
    height: 800px;
    background: #f1f1f3;
    background-size: cover;
    padding: 70px 300px 70px 300px;
}

#about h3 {
    font-family: 'Bree Serif', serif;
    text-align: center;
    font-weight: normal;
    font-size: 40px;
    line-height: 25px;
    text-transform: uppercase;
    padding-bottom: 50px;
}

#about p {
    font-family: 'Raleway', sans-serif;
    font-size: 26px;
    line-height: 25px;
    text-align: center;
    font-weight: semi-bold;
}

#about img {
    height: 400px;
    padding-left: 200px;
}

#about ul li {
    font-family: 'Raleway', sans-serif;
    font-size: 26px;
    line-height: 30px;
    padding: 15px 20px 15px 20px;
    font-weight: semi-bold;
}

/***** FOOTER *****/

footer {
    height: 300px;
    background: black;
    background-size: cover;
    border: 5px solid #a0ff00;
}

footer h3 {
    font-family: 'Bree Serif', serif;
    text-align: center;
    font-weight: normal;
    font-size: 40px;
    color: #00bfff;
}


footer ul li {
    height: 150px;
    display: inline-block;
    margin: 0 10px 0 20px;
    vertical-align: middle;
}

footer img {
    height: 100px;
}

footer h2 {
    font-family: 'Raleway', sans-serif;
    font-weight: normal;
    font-size: 24px;
    line-height: 60px;
    color: #f1f1f3;
}

footer .half-width {
    float: right;
}